$yes: 15px;
$bg-color: blue;
$color: red;
h3{
  background-color: $bg-color;
  font-size: $yes;
}
@mixin card {
  font-size: 15px;
   color: $bg-color;
   font-weight: 500;
}
.card{
  @include card;
}

//--ignore-compile